#content {
    height: 100%;
}

#mobileTopic {
    display: none;
}

.warning {
    background-color: red;
    color: white;
    padding: 10px;
    font-weight: bold;
    border: 2px solid black;
    margin: 1px;
}
