#map {
    display: flex;
    flex-direction: row;
}

#map img {
    height: 512px;
    width: 512px;
}

#legend {
    font-size: x-small;
}

#buttons {
  text-align: center;
}

#map img {
  max-width: 100%;
  height: auto;
  display: block;
}
