#content {
    height: 100%;
}

#alsoBox {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    justify-self: center;
    scale: 75%;
    width: 120px;
    height: 16px;
}

#arrowStretch {
    height: 16px;
    width: 42px;
}

#buttonLink {
    border: 1px solid black;
    height: 24px;
    width: 18px;
    background-color: white;
    transition-duration: 0.4s;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#buttonLink:hover {
    background-color: black;
    color: white
}

.details {
    font-size: x-small;
}

#runNet {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    transition-duration: 0.4s;
}

#runNet:hover {
    background-color: black;
    color: white;
}
