#content div {
    text-align: center;
}

#content {
    display: flex;
    flex-direction: row;
}

#buttons {
  text-align: center;
}

#map img {
  max-width: 100%;
  height: auto;
  display: block;
}
