#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h4 {
    width: auto;
    min-width: 40%;
}

#logo {
    height: 50%;
    width: 50%;
}

#alsoContainer {
    display: flex;
    justify-content: center;
}

#alsoBox {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    justify-self: center;
    scale: 75%;
    width: 160px;
    height: 16px;
}

.DDS {
    text-wrap: nowrap;
    border: 1px solid black;
    align-self: center;
    justify-self: center;
    width: 40%;
}

#arrowStretch {
    height: 16px;
    width: 42px;
}

#buttonLink {
    border: 1px solid black;
    height: 24px;
    width: 18px;
    background-color: white;
    transition-duration: 0.4s;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#buttonLink:hover {
    background-color: black;
    color: white
}

details {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

details[open] {
    border: 1px solid black;
}

#top {
    border-top: 1px solid black;

}

#bottom {
    border-bottom: 1px solid black;
}

summary {
    background-color: black;
    color: white;
    border: 1px solid white;
}

#gangs {
    width: 100%;
}

.detailed {
    display: flex;
}

.low {
    background-color: limegreen;
}

.medium {
    background-color: orange;
}

.high {
    background-color: red;
}

.gangLogo {
    height: 160px;
}
