#content {
    display: flex;
    flex-direction: row;
}

#content img {
    height: 756px;
    width: 540px;
}

#buttons {
  text-align: center;
}

#map img {
  max-width: 100%;
  height: auto;
  display: block;
}
