#content {
    display: flex;
    flex-wrap: wrap;
}

.npc-card {
    border: 2px solid #ccc;
    padding: 15px;
    margin: 10px auto;
    max-width: 30%;
    background-color: black;
    color: limegreen;
    font-family: monospace;
    text-align: center;
}

.armor {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* three columns */
    /* gap: 0.5em 1em; */
    margin-top: 1em;
    border: 1px solid limegreen;
}

.armor div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid limegreen;
    padding: 1%;
    text-align: center;
}

.armor input {
    width: 3em;
}

.stats input {
    width: 60px;
    margin: 2px;
    font-family: monospace;
}

button {
    background-color: #222;
    color: white;
    border: 1px solid limegreen;
    padding: 4px 8px;
    cursor: pointer;
}

button:hover {
    background-color: limegreen;
    color: black;
}

.damage-section {
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  align-items: center;
  justify-content: center;
}

.damage-section input {
    width: 60px;
    margin: 2px;
    font-family: monospace;
}

.stats {
    display: flex;
    justify-content: space-around;
    text-align: center;
}


.health input {
    width: 60px;
    margin: 2px;
    font-family: monospace;
}

.weapon input {
    width: 60px;
    margin: 2px;
    font-family: monospace;
}

.weapon select {
    width: 120px;
    margin: 2px;
}

#npcAdd {
    position: sticky;
    top: 26px;
    z-index: 2;
}

#npcAdd button {
    width: 100%;
}

#save-load {
    display: flex;
    width: 100%;
    gap: 0;
    position: sticky;
    top: 0;
    z-index: 2;
}

#save-load button {
    width: 100%;
}
