#content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.ice {
    border: 2px solid black;
    padding-bottom: 15px;
    margin: 10px auto;
    max-width: 30%;
    font-family: monospace;
}

.ice h2 {
    margin: 0;
    width: 100%;
}
